@import url('https://fonts.googleapis.com/css2?family=Cabin+Sketch&display=swap');

$main-font-color: #ffffff;
$main-background-color: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(15,15,94,1) 50%, rgba(0,0,0,1) 100%);
$expense-background-color: #2d2d86;
$expense-box-shadow-color: #696ac2;

$main-font-style: ('Cabin Sketch', cursive);

.main-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}